In [1]:
import pandas as pd
#import json
import numpy as np
#from collections import defaultdict
#from collections import Counter
#import sklearn.linear_model
#from sklearn.metrics import precision_recall_fscore_support as score
#import os
pd.options.mode.chained_assignment = None

In [2]:
### Purpose: get smaller-than-actual versions of each CSV, take a look at what we can get from each

sourceFilePath = "C:\\Users\\zange\\OneDrive\\Documents\\Business\\Education\\Drexel\\CS613\\dota-2-matches"

In [45]:
# Moved to Excel to more easily remove/rename columns,ended up with the following:
target = pd.read_csv(open(sourceFilePath+"\\teamfights_players.csv"))
#lineCount = 0;
#with open(sourceFilePath+"\\chat.csv","r",encoding="UTF-8") as file_handle:
#    for line in file_handle.readlines():
#        lineCount = lineCount + 1;

In [46]:
target.shape
#lineCount

(5390470, 8)

In [47]:
target.head()

,match_id,player_slot,buybacks,damage,deaths,gold_delta,xp_end,xp_start
0,0,0,0,105,0,173,536,314
1,0,1,0,566,1,0,1583,1418
2,0,2,0,0,0,0,391,391
3,0,3,0,0,0,123,1775,1419
4,0,4,0,444,0,336,1267,983

In [35]:
target.keys()

Index(['match_id', 'times', 'gold_t_0', 'lh_t_0', 'xp_t_0', 'gold_t_1',
       'lh_t_1', 'xp_t_1', 'gold_t_2', 'lh_t_2', 'xp_t_2', 'gold_t_3',
       'lh_t_3', 'xp_t_3', 'gold_t_4', 'lh_t_4', 'xp_t_4', 'gold_t_128',
       'lh_t_128', 'xp_t_128', 'gold_t_129', 'lh_t_129', 'xp_t_129',
       'gold_t_130', 'lh_t_130', 'xp_t_130', 'gold_t_131', 'lh_t_131',
       'xp_t_131', 'gold_t_132', 'lh_t_132', 'xp_t_132'],
      dtype='object')